<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="AppName" value="Your YouTube App Name"/>
        <add key="DeveloperKey" value="Your YouTube Developer Key"/>
        <add key="Username" value="Your YouTube/Google Username"/>
        <add key="Password" value="Your YouTube/Google Password"/>
    </appSettings>
</configuration>